@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
body {
    font-family: "Montserrat", sans-serif;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
}
::selection {
    background-color: black;
    color: orange;
}
